/* responsive-part */
/* mobile */
@media screen and (max-width: 577px) {
  .container{
    width: 90%;
  }
  .btn{
    padding: 5px  10px;
  }
  h1 {
    font-size: 27px;
    font-weight: 400;
    text-align: center;
  }
  .p {
    line-height: 0.125rem;
    font-size: 12px;
  }
  .navs {
    padding-top: 0px;
    padding: 40px 0;
  }
  nav .bars{
    display: block;
  }
  .top-panel {
    padding: 5px 15px;
  }
 
  nav a{
    display: none;
  }
  .logo{
    width: 100px;
  }
  .logo {
    align-items: center;
    margin-top: -45px;
    padding: 20px 5px;
    position: relative;
    border-radius: 5px;
  }


  .title-paragraph {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .banner-section {
    flex-direction: column;
    gap: 30px;
  }
  .banner-msg {
    width: 260px;
    height: 350px;
    padding: 30px 20px;
  }
  .img-border {
    margin-top: -375px;
    margin-left: 10px;
    width: 270px;
    height: 400px;
  }
  .block {
    display: inline;
  }
  .banner-msg h1 {
    display: inline;
    font-size: 20px;
    color: blue;
    margin-bottom: 20px;
  }
  .banner-msg p {
    width: 230px;
    height: 66px;
    margin-bottom: 60px;
    text-align: start;
    font-size: 12px;
  }
  .banner-img img {
    /* width: 290px; */
    height: 500px;
  }
  .about-content {
    flex-direction: column;
  }
  .about-img img {
    width: 240px;
  }
  .card {
    width: 345px;
  }
  .content-text {
    width: 300px;
  }
  .features-section {
    margin-top: 20px;
    padding-top: 40px;
  }

  .features {
    grid-template-columns: repeat(1, 1fr);
  }
  .coloum-flex {
    margin-top: 20px;
    height: 270px;
  }
  .same-look p {
    width: 200px;
    margin: 0 auto;
  }
  .same-look h2 {
    font-size: 25px;
  }
  .left-feature {
    text-align: center;
    margin-bottom: 30px;
  }
  .right-feature {
    text-align: center;
    margin-bottom: 30px;
  }
  .left-feature , .left-feature p{
    text-align: center;
  }
  .right-feature p{
    text-align: center;
  }
  .features-mid-img {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .features-mid-img img {
    width: 240px;
    height: 460px;
  }
  .img-1 {
    display: none;
  }
  .img-2 img {
    width: 100px;
    height: 300px;
  }
  .img-3 img {
    width: 150px;
    height: 340px;
  }
  .img-4 img {
    width: 100px;
    height: 300px;
  }
  .img-5 {
    display: none;
  }
  .phn-block {
    display: block;
  }

  .download-panel {
    flex-direction: column;
  }
  .download-content {
    width: 100%;
    padding: 0 20px;
  }
  .download-content p {
    width: 300px;
  }
  .cards img {
    width: 90px;
  }
  .panel-pic img {
    width: 95%;
    margin-top: 40px;
  }

  .use-section-content {
    color: white;
    padding: 40px 20px;
    padding-bottom: 90px;
  }
  .use-section-content P {
    width: 250px;
  }
  .overlap-img img {
    width: 245px;
    margin-top: -60px;
  }

  .customer-section p {
    width: 300px;
  }
   .customer-comment img{
    width: 350px;
  }
  .comment-img-1 ,  .comment-img-2 {
   display: none;
  }
  
  .team-cards,
  .blogs-cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin: 0 10px;
  }
  .person-card {
    padding: 20px 5px;
  }


  .blogs-cards {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .blog-card img{
    width: 95%;
  }

  .footer-top {
    padding: 20px 10px;
    width: 80%;
  }
  .footer-content {
    grid-template-columns: repeat(1, 1fr);
    padding: 70px 10px;
  }
  .items,
  .item-1,
  .item-2 {
    flex-direction: column;
  }
  .item-1{
    border-right: none;
    border-bottom: 2px solid black;
  padding-bottom: 10px;
  padding-right: 0;
  }
  .item-2{
    margin-top: 10px;
  }
}

/* tablet */

@media screen and (min-width: 578px) and (max-width: 992px) {
  .container{
    width: 90%;
  }
  h1 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
  }
  .bars{
    display: block;
  }
  .navs nav a{
    display: none;
  }
  .navs nav img{
    display: block;
  }
  .logo{
    width: 150px;
  }
  .top-panel {
    padding: 10px 10px;
  }
  .banner-msg {
    width: 280px;
    height: 350px;
  }
  .img-border {
    margin-top: -380px;
    margin-left: 10px;
    width: 290px;
    height: 410px;
  }
  .banner-msg h1 {
    text-align: start;
    font-size: 25px;
    color: blue;
    margin-bottom: 20px;
  }
  .banner-msg p {
    width: 250px;
    height: 66px;
    margin-bottom: 40px;
  }
  .banner-img img {
    width: 200px;
    height: 500px;
  }
  .title-paragraph{
    width: 50%;
  }
  .about-img img {
    width: 250px;
  }
  .card {
    width: 300px;
  }
  .content-text {
    width: 200px;
  }

  .features-section {
    padding: 50px 0px;
  }
  .same-look h2 {
    font-size: 25px;
  }

  .coloum-flex {
    margin-top: 80px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .left-feature {
    margin-bottom: 30px;
  }
  .right-feature {
    margin-bottom: 30px;
  }
  .features-mid-img img {
    width: 220px;
    height: 500px;
  }

  .phn-block {
    display: block;
  }
  .img-1 img {
    width: 130px;
    height: 340px;
  }

  .img-2 img {
    width: 130px;
    height: 340px;
    position: relative;
    margin-left: 50px;
  }
  .img-3 img {
    width: 150px;
    height: 344px;
  }
  .img-4 img {
    width: 130px;
    height: 340px;
    position: relative;
    margin-right: 50px;
  }
  .img-5 img {
    width: 130px;
    height: 340px;
  }
  .download-panel{
    justify-content: space-between;
  }

  .download-content {
    width: 90%;
    padding: 10px;
  }
  .cards img {
    width: 90px;
  }
  .panel-pic img {
    width: 250px;
  }
  .download-content h1 {
    font-size: 20px;
  }
  .download-content p {
    width: 240px;
  }

  .use-section-content {
    color: white;
    padding: 40px 20px;
    padding-bottom: 150px;
  }
  .use-section-content P {
    width: 360px;
  }
  .overlap-img img {
    width: 80%;
    margin-top: -100px;
  }
  .team-section > .title-paragraph{
   margin-bottom: 20px;
  }

  .team-cards {
    gap: 10px;
    margin: 50px 10px;
  }
  .person-card {
    padding: 20px 5px;
  }
  .person-card img {
    width: 100px;
  }
  .person-card h1 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 6px;
  }
  .person-card h3 {
    font-size: 15px;
  }
  .person-card p {
    width: 150px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .social-icons {
    width: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
  }
  .social-icons img {
    width: 24px;
  }

  .customer-section {
    padding: 50px 0;
  }
  .customer-comment {
    margin: 10px auto;
  }

  .comment-img-1,
  .comment-img-2,
  .comment-img-3 {
    width: 450px;
  }

  .comment-img-1 {
    margin-right: -500px;
  }
  .comment-img-2 {
    margin-right: -500px;
    position: relative;
  }

  .blogs-cards {
    gap: 5px;
  }
  .blog-card img {
    width: 90%;
  }
  .item-1{
  padding-right: 20%;
  }
  .links h1,
.letter h1 {
  font-weight: 400;
  font-size: 17px;
}
}
