* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
h1 {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
p {
  line-height: 1.2rem;
}
.title-paragraph {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}
.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
.section-gap {
  margin-top: 50px;
}

.top-gap {
  padding-top: 50px;
}

.flex {
  display: flex;
  align-items: center;
}

/* header-section */
.header-section {
  background-image: url(/images/Background\ Image.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  padding-bottom: 50px;
}

.banner-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner-msg {
  width: 450px;
  height: 400px;
  padding: 30px 20px;
  background-image: url(/images/pipeline-main.png);
  position: relative;
}
.img-border {
  margin-top: -450px;
  margin-left: 60px;
  width: 450px;
  height: 500px;
}
.banner-msg h1 {
  text-align: start;
  font-size: 40px;
  color: blue;
  margin-bottom: 20px;
}
.block {
  display: block;
}
.banner-msg p {
  width: 400px;
  height: 66px;
  margin-bottom: 40px;
}

/* about-section */
.about-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  width: 570px;
  border: 1px solid rgba(209, 208, 208, 0.418);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0.1px 0.1px 0.001px;
  margin-bottom: 15px;
}
.content-text {
  width: 490px;
  margin-top: 10px;
  margin-left: 25px;
}
.name img {
  width: 15px;
}
.name h2 {
  margin-left: 10px;
}
/* features-section */
.features-section {
  background-image: url(/images/Rectangle\ 14.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  padding-bottom: 50px;
  color: white;
}
.same-look img{
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
}
.same-look{
    text-align: center;
}
.same-look h2{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 10px;
}
.features{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
.coloum-flex{
    margin-top: 80px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.left-feature{
    text-align: right;
    /* margin-bottom: 20px; */
}
.left-feature-1{
    position: relative;
}
.left-feature-2{
    bottom: 0;
}
.right-feature {
    text-align: left;
}
.features-mid-img{
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-mid-img img{
    width: 375px;
    height: 700px;
}
/* Checkout-section */
.phn-images{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}
.img-2{
  position: relative;
  margin-left: -150px; 
}
.img-3 img{
  width: 320px;
  height: 622px;
}
.img-4{
  position: relative;
  margin-right: -150px;
}

.download-panel{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.download-content{
  width: 50%;
}
.download-content h1{
  text-align: start;
  font-size: 30px;
  margin-bottom: 10px;
}
.download-content p{
  width: 570px;
}
